body{
    background-color: black;
}
.heading{
  color: green;
  font-size: 3rem;
  text-align: center;
}
.p{
    color: green;
    font-size: xx-large;
    text-align: center;
    font-family: cursive;

}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    height: 60vh;
}
.box{
    display: flex;
    flex-direction: column;
}
img{
    height:300px;
    width: 300px;
}